$primaryColor: #0A4566;
$secondaryColor: #478CB2;

$darkGray: #333334;
$ltGray: #b2b2b2;
$fontColor: #35373a;
$accent: #1E664D;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);